# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dataset
dataset/GenImage_Test/
dataset/Real/

# ML / Model
*.pth
*.pt
*.h5
*.pb
*.onnx
*.ckpt
checkpoints/
logs/
runs/
wandb/

# Environment
.env
.env.local
*.log
*.tmp
